div{
	width: 120px;
	height: 30px;
	background-color: transparent;
	padding:10px 15px;
	margin: 10px 0px 10px;
	font: 17px "stkaiti";
	line-height: 30px;
}
#id1{
	width: 1000px;
	height: 700px;
	background-color: rgba(96,96,96,0.7);
	line-height: 50px;
	text-align: left;
	text-indent: 2em;
	font-weight: bold;
	margin: 10px 0px 10px 150px;
}
#id2{
	width: 1000px;
	height: 700px;
	background-color: rgba(96,96,96,0.7);
	line-height: 50px;
	text-align: left;
	text-indent: 2em;
	font-weight: bold;
	margin: 10px 0px 10px 150px;
}
dd{
	width: 92%;
	height: 180px;
}